node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Sensitive Files
KEYS.ts
/.deps

# Ignition directory. Push deployments to a separate repo.
/ignition