node_modules
.env

# Hardhat files
/cache
/artifacts

# Ignition deployments
# /ignition
/ignition/deployments
/ignition/modules/aktionariat
/ignition/modules/issuers
/ignition/modules/TestModule.ts

# TypeChain files
/types

# solidity-coverage files
/coverage
/coverage.json

# Sensitive Files
KEYS.ts
/.deps

.DS_Store
.claude